p {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.el-card{
  text-align: center;
}
.card-title {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 600
}

.el-button {
  margin-top: 10px;
  text-transform: uppercase;
  background: #FFA200;
  color: #fff;
  font-weight: 700
}
