img {
  width: 12em;
  display: block;
  margin: auto;
  margin-top: 0.5em
}

.navigation{
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}
a {
  color: #000;
}

a:hover {
  color: #fff;
}

li {
  color: #fff;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

li:hover {
  background: #ffa200;
}

.nav-link {
  display: block;
  padding: 0.2rem 0rem;
}
