  .el-menu-demo>.el-menu-item,
  .el-submenu {
    float: right !important;
  }

  .logo {
    width: 14em;
    float: left;
  }

  .el-menu--horizontal {
    margin-top: 0.5em;
    border-right: none;
    border-bottom: none;
}