img {
  width: 12em;
  display: block;
  margin: auto;
  margin-top: 0.5em;
}

.navigation {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  padding: 0 !important;
  margin: 0 !important;

}

a {
  color: #000;
}

a:hover {
  color: #fff;
}

li {
  color: #000;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

li:hover .nav-link {
  color: #ffa200;
  cursor: pointer;
}

.nav-link {
  display: block;
  padding: 0.2rem 0rem;
}

button {
  // background-color: #ffa200
}

.router-link-active:not(.navbar-brand) {
  background-color: #ffa200;
  color: #fff;
}
.router-link-active:hover {
  color: #fff !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.el-badge__content,
.is-fixed,
sup {
  background-color: #ffa200 !important;
}

.logo {
  width: 5em;
  margin: 0 auto;
}

.navbar-brand {
  margin: 0 auto;
}

.navbar{
  margin: 0;
  padding: 0;
}
