.box-card{
    border: 1px solid #ccc;
}

.box-card img {
    width: 100%;
 }

 .box-card div{
     padding: 0 !important;
}

.el-card__body{
    padding: 10px !important;
}

img{
    max-width: 100%;
    max-height: 100%;
}